/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .callout {
  font-size: x-large;
  margin-bottom: 15px;
  border-left-color:gray;
  border-left: solid 6px;
  border-left-color: rgba(128, 128, 128, 0.355);
 }

 .callout-warning {
  font-size: x-large;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 0, 0.202);
  border-left: solid 6px;
  border-left-color: rgba(128, 128, 128, 0.355);
 }
